:root {
    --color-button: #234485;
    --color-hover-button: #14326D;
    --color-border-inputs: #dfd7df;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

label {
    font-weight: bold;
    font-size: .85em;
}

input, textarea {
    border: 1px solid var(--color-border-inputs);
    border-radius: .25em;
    padding: 0 .5em;
}

input, button {
    border-radius: .25em;
    width: 25em;
    height: 2.125em;
}

button {
    border: none;
    background-color: var(--color-button);
    color: var(--color-white);
    transition: calc(.5s);
}

button:hover {
    background-color: var(--color-hover-button);
    transition: calc(.5s)
}

@media (min-width: 125px) and (max-width: 380px) {

    input, button {
        width: 20em;
        height: 2.125em;
    }

}